.error input, 
.error textarea {
    border: 1px solid red;
  }

.error {
    color: red;
}

.done {
    color : green;
    background: azure;
  }

#listContainer {
    margin-top: 20px;
}
span {
    margin: 10px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}


button {
  margin: 0 10px;
  min-width: 40px;
}  

form {
  width: 50%;
  margin: 20px auto;
}
